@import url('./global.css');
:root {
  --text-color: #1a1a1a;
  --remark-color: coral;
  --main-bg-light: #fbfbfb;
  --main-bg-dark: #474747;
  --button-primary-bg-color: #1a1a1a;
  --button-primary-border-color: var(--button-primary-bg-color);
  --button-primary-text-color: #fff;
  --button-secondary-bg-color: transparent;
  --button-secondary-border-color: var(--text-color);
  --button-secondary-text-color: var(--text-color);
}

* {
  box-sizing: border-box;
}

body {
  background-color: var(--main-bg-light);
  color: var(--text-color);
  margin: 0;
  padding: 0;
}

/* ruleset defined before css modules / to be removed */

#App {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

main {
  flex: 1;
  padding-top: 7rem;
}

.navbar {
  background-color: var(--main-bg-dark);
}

.navbar-brand {
  position: relative;
  padding-left: 4rem;
  font-size: 2rem;
  padding-bottom: 0px;
}

.navbar-brand .logo {
  left: 0;
  height: 3rem;
  width: 3rem;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

@media screen and (max-width: 360px) {
  .navbar-brand {
    position: relative;
    padding-left: 3rem;
    font-size: 1.5rem;
    padding-bottom: 0;
  }
  .navbar-brand .logo {
    height: 2.5rem;
    width: 2.5rem;
  }
}

.main-content-image {
  margin: 2rem;
  max-width: 26rem;
}

.no-select {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Old versions of Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
  supported by Chrome, Edge, Opera and Firefox */
}

.product-main-image {
  object-fit: cover;
}

.product-cart-factor {
  width: 11.4rem;
}

@media screen and (max-width: 400px) {
  .product-cart-factor {
    min-width: calc(0.9 * 11.4rem);
    transform: scaleY(0.9);
    width: calc(0.9 * 11.4rem);
  }
}

.product-quantity-btn {
  font-size: 1.3rem;
  height: 2.7rem;
  padding: 0;
  width: 2.7rem;
}

.product-quantity-input {
  background-color: transparent;
  border-width: 2px 0;
  height: 2.7rem;
  width: 6rem;
  vertical-align: middle;
}

.product-quantity-input:disabled, .product-quantity-input[readonly] {
  background-color: transparent;
}

@media screen and (max-width: 320px) {
  .quantity {
    flex-wrap: wrap-reverse;
  }
  .add-cart {
    flex-wrap: wrap;
  }
}