:root {
  --brand-text-color: #fff;
  --nav-text-color: rgba(255, 255, 255, .55);
  --nav-text-color--hover: rgba(255, 255, 255, .9);
  --nav-toggler-border-color: rgba(255, 255, 255, .1);
  --transition-settings: 200ms ease-in-out;
  --toggler-visible-edge-width: 992px;
}

.header {
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 1;
}

.navbar {
  display: flex;
  flex-wrap: wrap;
  font-weight: 600;
  position: relative;
  text-transform: uppercase;
}

.navbarControls {
  align-items: center;
  background-color: var(--main-bg-dark);
  display: flex;
  height: 100%;
  justify-content: space-between;
  padding: 1.5rem;
  z-index: 1;
}

@media screen and (max-width: 992px) {
  .navbarControls {
    width: 100%;
  }
}

.navbarBrand {
  color: var(--brand-text-color);
  font-size: 2rem;
  margin-right: 2rem;
  padding-bottom: 0px;
  padding-left: 4rem;
  position: relative;
  text-decoration: none;
  white-space: nowrap;
}

.navbarBrand:hover {
  color: var(--brand-text-color);
}

.navbarLogo {
  left: 0;
  height: 3rem;
  width: 3rem;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

@media screen and (max-width: 360px) {
  .navbarBrand {
    position: relative;
    padding-left: 3rem;
    font-size: 1.5rem;
    padding-bottom: 0;
  }
  .navbarLogo {
    height: 2.5rem;
    width: 2.5rem;
  }
}

.navbarToggler {
  background-color: transparent;
  border: 1px solid var(--nav-toggler-border-color);
  color: var(--nav-text-color);
  font-size: 1.25rem;
  line-height: 1;
  padding: 0.25rem 0.75rem;
  transition: color var(--transition-settings);
  z-index: 1;
}

.navbarTogglerIcon {
  display: block;
  font-size: 1.5rem;
}

.navbarCollapse {
  align-items: flex-end;
  background-color: var(--main-bg-dark);
  display: flex;
  flex-basis: 100%;
  flex-direction: column;
  flex-grow: 1;
  list-style: none;
  margin: 0;
  padding: 1rem;
  padding-top: 0;
  position: absolute;
  bottom: -50%;
  left: 0;
  right: 0;
  transform: scaleY(0);
  transition: all var(--transition-settings);
  z-index: -1;
}

.navbarCollapseOpen {
  bottom: -100%;
  transform: scaleY(1);
}

.navLink {
  color: var(--nav-text-color);
  display: block;
  padding: 0.75rem 1rem;
  text-decoration: none;
  transition: color var(--transition-settings);
}

.navbarToggler:hover, .navLink:hover {
  color: var(--nav-text-color--hover);
}

@media (min-width: 992px) {
  .navbarToggler {
    display: none;
  }
  .navbarCollapse {
    align-items: center;
    flex-basis: auto;
    flex-direction: row;
    justify-content: flex-end;
    padding: 0;
    padding-right: 1rem;
    position: inherit;
    transition: none;
    transform: scaleY(1);
  }
}